FORMAT: 1A
HOST: https://data.lab.fiware.org/
TITLE: FIWARE CKAN Extensions Open API Specification
DATE: 01 December 2017
VERSION: v6.4.0
APIARY_PROJECT: fiwareckanextensions
SPEC_URL: https://fiware-tmforum.github.io/Business-API-Ecosystem/
GITHUB_SOURCE: https://github.com/conwetlab/FIWARE-CKAN-Extensions

# FIWARE CKAN Extensions

CKAN **Action API** provides a RPC-style API for accessing all its features, that is,
all the actions that can be performed in the web interface can also be performed using
the API. In this regard, actions implemented within CKAN extensions are also exposed
as part of the CKAN API.

The current specification documents the API actions which are provided within the 
FIWARE CKAN extensions. For information on the core actions provided by CKAN, please
refer to the [CKAN API Specification](https://ckan.docs.apiary.io/#)

## Editors

* Francisco de la Vega, Universidad Politénica de Madrid

## Status

This is a work in progress and is changing on a daily basis. You can check the latest
available version on [GitHub](https://github.com/conwetlab/FIWARE-CKAN-Extensions).

This specification is licensed under the [FIWARE Open Specification License](https://forge.fiware.org/plugins/mediawiki/wiki/fiware/index.php/FI-WARE_Open_Specification_Legal_Notice_%28implicit_patents_license%29)

## Acknowledgements

The editors would like to express their gratitude to Aitor Magán and Álvaro Arranz
who actively contributed to this specification

## Copyright

* Copyright © 2017 - 2018 by Universidad Politénica de Madrid

## License

This specification is licensed under the
[FIWARE Open Specification License (implicit patent license)](https://forge.fiware.org/plugins/mediawiki/wiki/fiware/index.php/Implicit_Patents_License).

# Group Private Datasets extension

## Acquisitions list [/api/3/action/acquisitions_list]

List the datasets a given user has access to. The user parameter is
optional, if not provided the managed user will be the one making the request.

### List of datasets the user has permission to access [POST]

+ Request (application/json)

    + Headers
    
            Authorization: Bearer ACCESS_TOKEN

    + Body
    
            {
                "user": "fdelavega"
            }

+ Response 200 (application/json)

    + Body

            {
                "help": "https://data.lab.fiware.org/api/3/action/help_show?name=acquisitions_list",
                "success": true,
                "result": [
                    {
                        "owner_org": "68d2cf15-a6be-45da-85ee-023f2fca46d0",
                        "maintainer": "",
                        "searchable": "False",
                        "relationships_as_object": [],
                        "private": true,
                        "maintainer_email": "",
                        "num_tags": 0,
                        "acquire_url": "http://store.lab.fiware.org/offering/3",
                        "metadata_created": "2017-11-15T16:47:10.901524",
                        "metadata_modified": "2018-01-04T16:12:59.301866",
                        "author": "",
                        "author_email": "",
                        "id": "51be62c5-4513-4186-9df4-148a60b1d9ee",
                        "state": "active",
                        "version": "",
                        "license_id": "cc-by",
                        "type": "dataset",
                        "resources": [
                            {
                                "cache_last_updated": null,
                                "package_id": "51be62c5-4513-4186-9df4-148a60b1d9ee",
                                "datastore_active": false,
                                "payload": "",
                                "size": null,
                                "oauth_req": "true",
                                "id": "47871688-4b9c-4678-9dc1-381d6d1bd5ee",
                                "state": "active",
                                "hash": "",
                                "description": "",
                                "format": "",
                                "mimetype_inner": null,
                                "url_type": null,
                                "tenant": "",
                                "mimetype": null,
                                "cache_url": null,
                                "name": "",
                                "created": "2017-11-15T16:47:58.358274",
                                "url": "http://context.data.org/query",
                                "last_modified": null,
                                "position": 0,
                                "revision_id": "cff3b738-5703-400c-ab8f-e5ac0f83df04",
                                "apinf_page": "",
                                "service_path": "",
                                "resource_type": null
                            }
                        ],
                        "num_resources": 1,
                        "tags": [],
                        "title": "Some Data",
                        "groups": [],
                        "creator_user_id": "2a55200e-e5b8-481a-b081-5650109f440a",
                        "relationships_as_subject": [],
                        "name": "seae",
                        "isopen": true,
                        "url": "",
                        "notes": "",
                        "license_title": "Creative Commons Attribution",
                        "allowed_users": [
                            "fdelavega"
                        ],
                        "license_url": "http://www.opendefinition.org/licenses/cc-by",
                        "organization": {
                            "description": "A sample organization",
                            "title": "Organization",
                            "created": "2017-10-18T17:41:31.847773",
                            "approval_status": "approved",
                            "is_organization": true,
                            "state": "active",
                            "image_url": "",
                            "revision_id": "260c36eb-1573-4675-b573-5cd81b3eb6ab",
                            "type": "organization",
                            "id": "68d2cf15-a6be-45da-85ee-023f2fca46d0",
                            "name": "anotherorganization"
                        },
                        "revision_id": "cff3b738-5703-400c-ab8f-e5ac0f83df04"
                    }
                ]
            }

## Grant access [/api/3/action/package_acquired]

Grant user access to a set of provided datasets. The datasets are specified
using their URL

### Grant dataset access to a user [POST]

+ Request (application/json)

    + Headers
    
            Authorization: Bearer ACCESS_TOKEN

    + Body
    
            {
                "customer_name": "pablo-nunez",
                "resources": [{
                    "url": "https://data.lab.fiware.org/dataset/some-data"
                }]
            }

+ Response 200 (application/json)

    + Body

            {
                "help": "https://data.lab.fiware.org/api/3/action/help_show?name=package_acquired",
                "success": true,
                "result": null
            }

## Revoke access [/api/3/action/revoke_access]

Revoke user access to a set of provided datasets. The datasets are specified
using their URL

### Revoke dataset access to a user [POST]

+ Request (application/json)

    + Headers
    
            Authorization: Bearer ACCESS_TOKEN

    + Body
    
            {
                "customer_name": "pablo-nunez",
                "resources": [{
                    "url": "https://data.lab.fiware.org/dataset/some-data"
                }]
            }

+ Response 200 (application/json)

    + Body

            {
                "help": "https://data.lab.fiware.org/api/3/action/help_show?name=revoke_access",
                "success": true,
                "result": null
            }

# Group Data Requests extension

## Create Data Request [/api/3/action/create_datarequest]

Action to create a new data request. This function checks the access rights of the user before
creating the data request. If the user is not allowed, a NotAuthorized exception will be risen.

### Create Data Request [POST]

+ Request (application/json)

    + Headers
    
            Authorization: Bearer ACCESS_TOKEN

    + Body

            {
                "title": "Some Data",
                "description": "Some data regarding some stuff",
                "organization_id": ""
            }

+ Response 200 (application/json)

    + Body

            {
                "help": "https://data.lab.fiware.org/api/3/action/help_show?name=create_datarequest",
                "success": true,
                "result": {
                    "description": "Some data regarding some stuff",
                    "organization_id": null,
                    "user": {
                        "openid": null,
                        "about": null,
                        "apikey": "0181d886-5ffc-4aa7-984e-7fb431e19412",
                        "display_name": "fdelavega",
                        "name": "fdelavega",
                        "created": "2017-10-05T10:14:31.194985",
                        "email_hash": "630ba4823fee2d7b2d37fb11595ec906",
                        "email": "fdelavega@conwet.com",
                        "sysadmin": true,
                        "activity_streams_email_notifications": false,
                        "state": "active",
                        "number_of_edits": 57,
                        "fullname": "fdelavega",
                        "id": "2a55200e-e5b8-481a-b081-5650109f440a",
                        "number_created_packages": 11
                    },
                    "id": "15384349-f021-4cfe-9502-624aac6b8067",
                    "close_time": null,
                    "user_id": "2a55200e-e5b8-481a-b081-5650109f440a",
                    "open_time": "2018-01-04 17:17:12.652411",
                    "accepted_dataset": null,
                    "title": "Some Data",
                    "accepted_dataset_id": null,
                    "followers": 0,
                    "closed": false,
                    "organization": null
                }
            }

## Show Data Request [/api/3/action/show_datarequest]

Action to retrieve the information of a data request. The only required parameter is the id of
the data request. A NotFound exception will be risen if the id is not found

### Show Data Request [POST]

+ Request (application/json)

    + Headers
    
            Authorization: Bearer ACCESS_TOKEN

    + Body

            {
                "id": "15384349-f021-4cfe-9502-624aac6b8067"
            }

+ Response 200 (application/json)

    + Body

            {
                "help": "https://data.lab.fiware.org/api/3/action/help_show?name=show_datarequest",
                "success": true,
                "result": {
                    "description": "Some data regarding some stuff",
                    "organization_id": null,
                    "user": {
                        "openid": null,
                        "about": null,
                        "apikey": "0181d886-5ffc-4aa7-984e-7fb431e19412",
                        "display_name": "fdelavega",
                        "name": "fdelavega",
                        "created": "2017-10-05T10:14:31.194985",
                        "email_hash": "630ba4823fee2d7b2d37fb11595ec906",
                        "email": "fdelavega@conwet.com",
                        "sysadmin": true,
                        "activity_streams_email_notifications": false,
                        "state": "active",
                        "number_of_edits": 57,
                        "fullname": "fdelavega",
                        "id": "2a55200e-e5b8-481a-b081-5650109f440a",
                        "number_created_packages": 11
                    },
                    "id": "15384349-f021-4cfe-9502-624aac6b8067",
                    "close_time": null,
                    "user_id": "2a55200e-e5b8-481a-b081-5650109f440a",
                    "open_time": "2018-01-04 17:17:12.652411",
                    "accepted_dataset": null,
                    "title": "Some Data",
                    "accepted_dataset_id": null,
                    "followers": 0,
                    "closed": false,
                    "organization": null
                }
            }

## Update Data Request [/api/3/action/update_datarequest]

Action to update a data request. The function checks the access rights of the user before
updating the data request. If the user is not allowed, a NotAuthorized exception will be risen

### Update Data Request [POST]

+ Request (application/json)

    + Headers
    
            Authorization: Bearer ACCESS_TOKEN

    + Body

            {
                "id": "15384349-f021-4cfe-9502-624aac6b8067",
                "title": "Some Data",
                "description": "Some data regarding some stuff",
                "organization_id": ""
            }

+ Response 200 (application/json)

    + Body

            {
                "help": "https://data.lab.fiware.org/api/3/action/help_show?name=update_datarequest",
                "success": true,
                "result": {
                    "description": "Some data regarding some stuff",
                    "organization_id": null,
                    "user": {
                        "openid": null,
                        "about": null,
                        "apikey": "0181d886-5ffc-4aa7-984e-7fb431e19412",
                        "display_name": "fdelavega",
                        "name": "fdelavega",
                        "created": "2017-10-05T10:14:31.194985",
                        "email_hash": "630ba4823fee2d7b2d37fb11595ec906",
                        "email": "fdelavega@conwet.com",
                        "sysadmin": true,
                        "activity_streams_email_notifications": false,
                        "state": "active",
                        "number_of_edits": 57,
                        "fullname": "fdelavega",
                        "id": "2a55200e-e5b8-481a-b081-5650109f440a",
                        "number_created_packages": 11
                    },
                    "id": "15384349-f021-4cfe-9502-624aac6b8067",
                    "close_time": null,
                    "user_id": "2a55200e-e5b8-481a-b081-5650109f440a",
                    "open_time": "2018-01-04 17:17:12.652411",
                    "accepted_dataset": null,
                    "title": "Some Data",
                    "accepted_dataset_id": null,
                    "followers": 0,
                    "closed": false,
                    "organization": null
                }
            }

## List Data Requests [/api/3/action/list_datarequests]

Returns a list with the existing data requests. Rights access will be checked before returning
the results. If the user is not allowed, a NotAuthorized exception will be risen

### List Data Requests [POST]

+ Request (application/json)

    + Headers
    
            Authorization: Bearer ACCESS_TOKEN

    + Body

            {}

+ Response 200 (application/json)

    + Body

            {
                "help": "https://data.lab.fiware.org/api/3/action/help_show?name=list_datarequests",
                "success": true,
                "result": 
                    {
                        "count": 2,
                        "facets": {
                            "state": {
                                "items": [
                                    {
                                        "count": 1,
                                        "display_name": "Open",
                                        "name": "open"
                                    }
                                ]
                            }
                        },
                        "result": [{
                            "description": "Some data regarding some stuff",
                            "organization_id": null,
                            "user": {
                                "openid": null,
                                "about": null,
                                "apikey": "0181d886-5ffc-4aa7-984e-7fb431e19412",
                                "display_name": "fdelavega",
                                "name": "fdelavega",
                                "created": "2017-10-05T10:14:31.194985",
                                "email_hash": "630ba4823fee2d7b2d37fb11595ec906",
                                "email": "fdelavega@conwet.com",
                                "sysadmin": true,
                                "activity_streams_email_notifications": false,
                                "state": "active",
                                "number_of_edits": 57,
                                "fullname": "fdelavega",
                                "id": "2a55200e-e5b8-481a-b081-5650109f440a",
                                "number_created_packages": 11
                            },
                            "id": "15384349-f021-4cfe-9502-624aac6b8067",
                            "close_time": null,
                            "user_id": "2a55200e-e5b8-481a-b081-5650109f440a",
                            "open_time": "2018-01-04 17:17:12.652411",
                            "accepted_dataset": null,
                            "title": "Some Data",
                            "accepted_dataset_id": null,
                            "followers": 0,
                            "closed": false,
                            "organization": null
                        }]
                    }
            }

## Delete Data Request [/api/3/action/delete_datarequest]

Action to delete a data request. The function checks the access rights of the user before
deleting the data request. If the user is not allowed, a NotAuthorized exception will be risen.

### Delete Data Request [POST]

+ Request (application/json)

    + Headers
    
            Authorization: Bearer ACCESS_TOKEN

    + Body

            {
                "id": "15384349-f021-4cfe-9502-624aac6b8067"
            }

+ Response 200 (application/json)

    + Body

            {
                "help": "https://data.lab.fiware.org/api/3/action/help_show?name=delete_datarequest",
                "success": true,
                "result": null
            }

## Close Data Request [/api/3/action/close_datarequest]

Action to close a data request. Access rights will be checked before closing the data request.
If the user is not allowed, a NotAuthorized exception will be risen

### Close Data Request [POST]

+ Request (application/json)

    + Headers
    
            Authorization: Bearer ACCESS_TOKEN

    + Body

            {
                "id": "15384349-f021-4cfe-9502-624aac6b8067",
                "accepted_dataset": "ngsi-madrid-parking-data"
            }

+ Response 200 (application/json)

    + Body

            {
                "help": "https://data.lab.fiware.org/api/3/action/help_show?name=close_datarequest",
                "success": true,
                "result": {
                    "description": "Some data regarding some stuff",
                    "organization_id": null,
                    "user": {
                        "openid": null,
                        "about": null,
                        "apikey": "0181d886-5ffc-4aa7-984e-7fb431e19412",
                        "display_name": "fdelavega",
                        "name": "fdelavega",
                        "created": "2017-10-05T10:14:31.194985",
                        "email_hash": "630ba4823fee2d7b2d37fb11595ec906",
                        "email": "fdelavega@conwet.com",
                        "sysadmin": true,
                        "activity_streams_email_notifications": false,
                        "state": "active",
                        "number_of_edits": 57,
                        "fullname": "fdelavega",
                        "id": "2a55200e-e5b8-481a-b081-5650109f440a",
                        "number_created_packages": 11
                    },
                    "id": "15384349-f021-4cfe-9502-624aac6b8067",
                    "close_time": null,
                    "user_id": "2a55200e-e5b8-481a-b081-5650109f440a",
                    "open_time": "2018-01-04 17:17:12.652411",
                    "accepted_dataset": {
                        "license_title": "Creative Commons Attribution",
                        "maintainer": "",
                        "relationships_as_object": [],
                        "private": true,
                        "maintainer_email": "",
                        "num_tags": 0,
                        "id": "c76b2fb5-ca45-490f-8b14-033b7f632cbe",
                        "metadata_created": "2017-12-05T12:02:43.007530",
                        "metadata_modified": "2017-12-05T12:03:08.509400",
                        "author": "",
                        "author_email": "",
                        "acquire_url": "",
                        "state": "active",
                        "version": "",
                        "license_id": "cc-by",
                        "type": "dataset",
                        "resources": [
                            {
                                "cache_last_updated": null,
                                "package_id": "c76b2fb5-ca45-490f-8b14-033b7f632cbe",
                                "datastore_active": false,
                                "id": "e01b594b-37ab-4cf7-8d8f-37189dbd1635",
                                "size": null,
                                "oauth_req": "true",
                                "payload": "",
                                "state": "active",
                                "hash": "",
                                "description": "",
                                "format": "",
                                "mimetype_inner": null,
                                "url_type": null,
                                "tenant": "",
                                "mimetype": null,
                                "cache_url": null,
                                "name": "",
                                "created": "2017-12-05T12:03:08.037143",
                                "url": "http://context.opplafy.eu:1026/v2/entities?options=keyValues&type=Parking",
                                "last_modified": null,
                                "position": 0,
                                "revision_id": "93e64d68-03e2-41ad-8c6f-372f7d34d48a",
                                "apinf_page": "",
                                "service_path": "",
                                "resource_type": null
                            }
                        ],
                        "num_resources": 1,
                        "tags": [],
                        "groups": [],
                        "creator_user_id": "2a55200e-e5b8-481a-b081-5650109f440a",
                        "relationships_as_subject": [],
                        "organization": {
                            "description": "organization description",
                            "created": "2017-10-18T17:41:31.847773",
                            "title": "AnotherOrganization",
                            "name": "anotherorganization",
                            "is_organization": true,
                            "state": "active",
                            "image_url": "",
                            "revision_id": "260c36eb-1573-4675-b573-5cd81b3eb6ab",
                            "type": "organization",
                            "id": "68d2cf15-a6be-45da-85ee-023f2fca46d0",
                            "approval_status": "approved"
                        },
                        "name": "ngsi-madrid-parking-data",
                        "isopen": true,
                        "url": "",
                        "notes": "",
                        "owner_org": "68d2cf15-a6be-45da-85ee-023f2fca46d0",
                        "license_url": "http://www.opendefinition.org/licenses/cc-by",
                        "title": "NGSI Madrid Parking Data",
                        "revision_id": "93e64d68-03e2-41ad-8c6f-372f7d34d48a"
                    },
                    "title": "Some Data",
                    "accepted_dataset_id": "ngsi-madrid-parking-data",
                    "followers": 0,
                    "closed": true,
                    "organization": null
                }
            }

## Comment Data Request [/api/3/action/comment_datarequest]

Action to create a comment in a data request. Access rights will be checked before creating the
comment and a NotAuthorized exception will be risen if the user is not allowed to create the
comment

### Comment Data Request [POST]

+ Request (application/json)

    + Headers
    
            Authorization: Bearer ACCESS_TOKEN

    + Body

            {
                "datarequest_id": "15384349-f021-4cfe-9502-624aac6b8067",
                "comment": "This is a comment"
            }

+ Response 200 (application/json)

    + Body

            {
                "help": "https://data.lab.fiware.org/api/3/action/help_show?name=comment_datarequest",
                "success": true,
                "result": {
                    "comment": "This is a comment",
                    "user_id": "2a55200e-e5b8-481a-b081-5650109f440a",
                    "user": {
                        "openid": null,
                        "about": null,
                        "apikey": "0181d886-5ffc-4aa7-984e-7fb431e19412",
                        "display_name": "fdelavega",
                        "name": "fdelavega",
                        "created": "2017-10-05T10:14:31.194985",
                        "email_hash": "630ba4823fee2d7b2d37fb11595ec906",
                        "email": "fdelavega@conwet.com",
                        "sysadmin": true,
                        "activity_streams_email_notifications": false,
                        "state": "active",
                        "number_of_edits": 57,
                        "fullname": "fdelavega",
                        "id": "2a55200e-e5b8-481a-b081-5650109f440a",
                        "number_created_packages": 11
                    },
                    "time": "2018-01-07 11:10:48.869463",
                    "datarequest_id": "15384349-f021-4cfe-9502-624aac6b8067",
                    "id": "67108249-6301-4663-b113-2c4dfebbc977"
                }
            }

## Show Data Request Comment [/api/3/action/show_datarequest_comment]

Action to retrieve a comment. Access rights will be checked before getting the comment and a
NotAuthorized exception will be risen if the user is not allowed to get the comment

### Show Data Request Comment [POST]

+ Request (application/json)

    + Headers
    
            Authorization: Bearer ACCESS_TOKEN

    + Body

            {
                "id": "67108249-6301-4663-b113-2c4dfebbc977"
            }

+ Response 200 (application/json)

    + Body

            {
                "help": "https://data.lab.fiware.org/api/3/action/help_show?name=show_datarequest_comment",
                "success": true,
                "result": {
                    "comment": "This is a comment",
                    "user_id": "2a55200e-e5b8-481a-b081-5650109f440a",
                    "user": {
                        "openid": null,
                        "about": null,
                        "apikey": "0181d886-5ffc-4aa7-984e-7fb431e19412",
                        "display_name": "fdelavega",
                        "name": "fdelavega",
                        "created": "2017-10-05T10:14:31.194985",
                        "email_hash": "630ba4823fee2d7b2d37fb11595ec906",
                        "email": "fdelavega@conwet.com",
                        "sysadmin": true,
                        "activity_streams_email_notifications": false,
                        "state": "active",
                        "number_of_edits": 57,
                        "fullname": "fdelavega",
                        "id": "2a55200e-e5b8-481a-b081-5650109f440a",
                        "number_created_packages": 11
                    },
                    "time": "2018-01-07 11:10:48.869463",
                    "datarequest_id": "15384349-f021-4cfe-9502-624aac6b8067",
                    "id": "67108249-6301-4663-b113-2c4dfebbc977"
                }
            }

## List Data Request Comments [/api/3/action/list_datarequest_comments]

Action to retrieve all the comments of a data request. Access rights will be checked before
getting the comments and a NotAuthorized exception will be risen if the user is not allowed
to read the comments

### List Data Request Comments [POST]

+ Request (application/json)

    + Headers
    
            Authorization: Bearer ACCESS_TOKEN

    + Body

            {
                "datarequest_id": "15384349-f021-4cfe-9502-624aac6b8067",
                "sort": "asc
            }

+ Response 200 (application/json)

    + Body

            {
                "help": "https://data.lab.fiware.org/api/3/action/help_show?name=list_datarequest_comments",
                "success": true,
                "result": [{
                    "comment": "This is a comment",
                    "user_id": "2a55200e-e5b8-481a-b081-5650109f440a",
                    "user": {
                        "openid": null,
                        "about": null,
                        "apikey": "0181d886-5ffc-4aa7-984e-7fb431e19412",
                        "display_name": "fdelavega",
                        "name": "fdelavega",
                        "created": "2017-10-05T10:14:31.194985",
                        "email_hash": "630ba4823fee2d7b2d37fb11595ec906",
                        "email": "fdelavega@conwet.com",
                        "sysadmin": true,
                        "activity_streams_email_notifications": false,
                        "state": "active",
                        "number_of_edits": 57,
                        "fullname": "fdelavega",
                        "id": "2a55200e-e5b8-481a-b081-5650109f440a",
                        "number_created_packages": 11
                    },
                    "time": "2018-01-07 11:10:48.869463",
                    "datarequest_id": "15384349-f021-4cfe-9502-624aac6b8067",
                    "id": "67108249-6301-4663-b113-2c4dfebbc977"
                }]
            }

## Update Data Request Comment [/api/3/action/update_datarequest_comment]

Action to update a comment of a data request. Access rights will be checked before updating the
comment and a NotAuthorized exception will be risen if the user is not allowed to update the
comment

### Update Data Request Comment [POST]

+ Request (application/json)

    + Headers
    
            Authorization: Bearer ACCESS_TOKEN

    + Body

            {
                "id": "67108249-6301-4663-b113-2c4dfebbc977",
                "comment": "This is a new comment"
            }

+ Response 200 (application/json)

    + Body

            {
                "help": "https://data.lab.fiware.org/api/3/action/help_show?name=update_datarequest_comment",
                "success": true,
                "result": {
                    "comment": "This is a new comment",
                    "user_id": "2a55200e-e5b8-481a-b081-5650109f440a",
                    "user": {
                        "openid": null,
                        "about": null,
                        "apikey": "0181d886-5ffc-4aa7-984e-7fb431e19412",
                        "display_name": "fdelavega",
                        "name": "fdelavega",
                        "created": "2017-10-05T10:14:31.194985",
                        "email_hash": "630ba4823fee2d7b2d37fb11595ec906",
                        "email": "fdelavega@conwet.com",
                        "sysadmin": true,
                        "activity_streams_email_notifications": false,
                        "state": "active",
                        "number_of_edits": 57,
                        "fullname": "fdelavega",
                        "id": "2a55200e-e5b8-481a-b081-5650109f440a",
                        "number_created_packages": 11
                    },
                    "time": "2018-01-07 11:10:48.869463",
                    "datarequest_id": "15384349-f021-4cfe-9502-624aac6b8067",
                    "id": "67108249-6301-4663-b113-2c4dfebbc977"
                }
            }

## Delete Data Request Comment [/api/3/action/delete_datarequest_comment]

Action to delete a comment of a data request. Access rights will be checked before deleting the
comment and a NotAuthorized exception will be risen if the user is not allowed to delete the
comment

### Delete Data Request Comment [POST]

+ Request (application/json)

    + Headers
    
            Authorization: Bearer ACCESS_TOKEN

    + Body

            {
                "id": "67108249-6301-4663-b113-2c4dfebbc977"
            }

+ Response 200 (application/json)

    + Body

            {
                "help": "https://data.lab.fiware.org/api/3/action/help_show?name=delete_datarequest_comment",
                "success": true,
                "result": null
            }

## Follow Data Request [/api/3/action/follow_datarequest]

Action to follow a data request. Access rights will be cheked before following a datarequest
and a NotAuthorized exception will be risen if the user is not allowed to follow the given
datarequest. ValidationError will be risen if the datarequest ID is not included or if the user
is already following the datarequest. ObjectNotFound will be risen if the given datarequest does
not exist.

### Follow Data Request [POST]

+ Request (application/json)

    + Headers
    
            Authorization: Bearer ACCESS_TOKEN

    + Body

            {
                "id": "67108249-6301-4663-b113-2c4dfebbc977"
            }

+ Response 200 (application/json)

    + Body

            {
                "help": "https://data.lab.fiware.org/api/3/action/help_show?name=follow_datarequest",
                "success": true,
                "result": null
            }

## Unfollow Data Request [/api/3/action/unfollow_datarequest]

Action to unfollow a data request. Access rights will be cheked before unfollowing a datarequest
and a NotAuthorized exception will be risen if the user is not allowed to unfollow the given
datarequest. ValidationError will be risen if the datarequest ID is not included in the request.
ObjectNotFound will be risen if the user is not following the given datarequest.

### Unfollow Data Request [POST]

+ Request (application/json)

    + Headers
    
            Authorization: Bearer ACCESS_TOKEN

    + Body

            {
                "id": "67108249-6301-4663-b113-2c4dfebbc977"
            }

+ Response 200 (application/json)

    + Body

            {
                "help": "https://data.lab.fiware.org/api/3/action/help_show?name=unfollow_datarequest",
                "success": true,
                "result": null
            }