version: '3.4'

services:

    ckan:
        restart: always
        image: fiware/ckan-extended
        ports:
            - 5000:5000
        depends_on:
            - ckan_postgres
            - ckan_solr
            - ckan_redis
        volumes:
            - ./ckan-data:/opt/ckan
        environment:
            # Basic Configuration parameters
            # Defaults work with linked containers, change to use own Postgres, SolR, Redis or Datapusher
            - CKAN_SQLALCHEMY_URL=postgresql://ckan:${POSTGRES_PASSWORD}@ckan_postgres/ckan
            - CKAN_DATASTORE_WRITE_URL=postgresql://ckan:${POSTGRES_PASSWORD}@ckan_postgres/datastore
            - CKAN_DATASTORE_READ_URL=postgresql://datastore_ro:${DATASTORE_READONLY_PASSWORD}@ckan_postgres/datastore
            - CKAN_SOLR_URL=http://ckan_solr:8983/solr/ckan
            - CKAN_REDIS_URL=redis://ckan_redis:6379/1
            - CKAN_DATAPUSHER_URL=http://datapusher:8800
            - CKAN_SITE_URL=${CKAN_SITE_URL}
            - CKAN_MAX_UPLOAD_SIZE_MB=${CKAN_MAX_UPLOAD_SIZE_MB}
            - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
            - DS_RO_PASS=${DATASTORE_READONLY_PASSWORD}

            # OAuth2
            - CKAN_OAUTH2_REGISTER_URL=${CKAN_OAUTH2_REGISTER_URL}
            - CKAN_OAUTH2_RESET_URL=${CKAN_OAUTH2_RESET_URL}
            - CKAN_OAUTH2_EDIT_URL=${CKAN_OAUTH2_EDIT_URL}
            - CKAN_OAUTH2_AUTHORIZATION_ENDPOINT=${CKAN_OAUTH2_AUTHORIZATION_ENDPOINT}
            - CKAN_OAUTH2_TOKEN_ENDPOINT=${CKAN_OAUTH2_TOKEN_ENDPOINT}
            - CKAN_OAUTH2_PROFILE_API_URL=${CKAN_OAUTH2_PROFILE_API_URL}
            - CKAN_OAUTH2_CLIENT_ID=${CKAN_OAUTH2_CLIENT_ID}
            - CKAN_OAUTH2_CLIENT_SECRET=${CKAN_OAUTH2_CLIENT_SECRET}
            - CKAN_OAUTH2_SCOPE=${CKAN_OAUTH2_SCOPE}
            - CKAN_OAUTH2_REMEMBERER_NAME=${CKAN_OAUTH2_REMEMBERER_NAME}
            - CKAN_OAUTH2_PROFILE_API_USER_FIELD=${CKAN_OAUTH2_PROFILE_API_USER_FIELD}
            - CKAN_OAUTH2_PROFILE_API_FULLNAME_FIELD=${CKAN_OAUTH2_PROFILE_API_FULLNAME_FIELD}
            - CKAN_OAUTH2_PROFILE_API_MAIL_FIELD=${CKAN_OAUTH2_PROFILE_API_MAIL_FIELD}
            - CKAN_OAUTH2_AUTHORIZATION_HEADER=${CKAN_OAUTH2_AUTHORIZATION_HEADER}
            # DON'T USE THIS SETTING ON PRODUCTION!
            - OAUTHLIB_INSECURE_TRANSPORT=True

            # Private datasets
            - CKAN_PRIVATEDATASETS_SHOW_ACQUIRE_URL_ON_CREATE=${CKAN_PRIVATEDATASETS_SHOW_ACQUIRE_URL_ON_CREATE}
            - CKAN_PRIVATEDATASETS_SHOW_ACQUIRE_URL_ON_EDIT=${CKAN_PRIVATEDATASETS_SHOW_ACQUIRE_URL_ON_EDIT}
            - CKAN_PRIVATEDATASETS_PARSER=${CKAN_PRIVATEDATASETS_PARSER}

    ckan_datapusher:
        restart: always
        image: clementmouchet/datapusher

    ckan_solr:
        restart: always
        image: ckan/solr
        volumes:
            - ./solr-data:/var/lib/solr

    ckan_postgres:
        restart: always
        image: ckan/postgresql
        environment:
            - DS_RO_PASS=${DATASTORE_READONLY_PASSWORD}
            - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
        volumes:
            - ./postgres-data:/var/lib/postgresql/data

    ckan_redis:
        restart: always
        image: redis:latest
